@model ChemQuizWeb.Data.Level

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Level</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Put" asp-route-id="@Model.LevelId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LevelId" />
            <div class="form-group">
                <label asp-for="LevelDescription" class="control-label"></label>
                <input asp-for="LevelDescription" class="form-control" />
                <span asp-validation-for="LevelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelLesson" class="control-label"></label>
                <input asp-for="LevelLesson" class="form-control" />
                <span asp-validation-for="LevelLesson" class="text-danger"></span>
            </div>
            <input asp-for="GameId" type="hidden" value="@Model.GameId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.GameId">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
